# Base de Datos PostgreSQL
DATABASE_URL="postgresql://postgres:1234@localhost:5432/pet_spa_db?schema=public"

# JWT
JWT_SECRET="b16b285fa7f733641447cb60cafdc51003c3703beb4d4ae39df19bdb7d1eda17"
JWT_REFRESH_SECRET="a12a8d91c0ea414d56a1655dc04d91b0364bdcb83d1f86ed3ee4d5ccb4453938"
JWT_EXPIRATION="1h"
JWT_REFRESH_EXPIRATION="7d"

# Google OAuth (dejar vacío por ahora)
GOOGLE_CLIENT_ID="617953959616-6lpl9qgdnqq4j7krvrpm6nni4937ekni.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

# Email - Usar Mailtrap para pruebas (https://mailtrap.io)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="carvajalesther514@gmail.com"
SMTP_PASS="jdqm eslu gtkb yzog"  # No es tu contraseña normal
EMAIL_FROM="carvajalesther514@gmail.com"
APP_URL="http://localhost:3000"

FRONTEND_URL="http://localhost:3001"

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100

# Seguridad
BCRYPT_SALT_ROUNDS=12
MAX_LOGIN_ATTEMPTS=5
LOCKOUT_DURATION_MINUTES=15
SESSION_EXPIRATION_MINUTES=30

# Entorno
NODE_ENV="development"
PORT=3000